/* styles.css */
body {
  background-color: black;
  color: white;
}

.profile-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

.section-title {
  font-size: 3rem;
  color: #F39C12;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.highlight-text {
  color: #F39C12;
  font-weight: bold;
}

.fade-in {
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}
